
    h1{color:red;}
    th {color: rgba(245, 131, 1, 0.933);}
    td{color: rgba(10, 162, 8, 0.908);}
     table,th,td {
        background-color: black;
        border : 1px solid white; 
        
    }
   h1{
    
    text-align: center;
    background-color:black;
    font-size:50px;
    border-width: 5px;
    border: solid black;
    border-radius: 10px;

}
    
    th{
        height: 50px;
        font-size: 40px;
    }
    td{
        height: 40px;
        font-size: 40px;
    }
    
    .centre{
        width:40%;
        margin-left: auto;
        margin-right: auto;
    }
body{
    background-size: cover;
    background-image: url("https://img.freepik.com/free-vector/dark-gradient-background-with-copy-space_53876-99548.jpg");
}
    
    .Text{
        position:relative;
        bottom:20px;
        left:20px;
        font-size:30px;
        font-style:italic;
        color:rgb(34, 221, 221);
        background-color: black;
        width:1300px;
        margin: auto;
        border-radius: 10px;
        padding:10px;
    }
    
    .add-form {
        width: 40%;
        margin: 20px auto;
        text-align: center;
    }

    .add-form input, .add-form button {
        font-size: 18px;
        padding: 10px;
        margin: 5px;
    }
    .Text p{
color:rgb(233, 198, 40);
    }
    
    
  .copyrights {
    color: rgb(13, 221, 13);
    font-size: 40px;
    font-style: italic;
    background: rgb(18, 2, 2);
    padding: 3px;
    width: 1100px;
    border-radius: 10px;
    position: relative;
    margin-left:12%;
  }
  @property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }

  
  .copyrights::after, .copyrights::before{ 
    content:'';
    height: 140px;
    width: 1110px;
    position:absolute;
    top: -5px;
    right: -2px;
    border-radius: 10px;
    z-index: -1;
    padding: 1px;
    background-image:conic-gradient(from var(--angle),transparent 60%,blue,red);
    animation: 3s spin linear infinite;
 }
 .copyrights::before{
    filter:blur(10px);
 }
 @keyframes spin{
from{
    --angle:0deg
}
to{
    --angle:360deg;
}
 }